.counter
{
  
    justify-content: center;
    color: blueviolet;
   background-color: aqua;
    
}
.red
{
    background-color: red;
}
.yellow
{
    background-color: yellow;
}
.green
{
    background-color: green;
}
